*{
  margin: 0px;
  padding: 0px;
}
a{
  text-decoration: none;
  display: inline-block;
}
ul{
  list-style: none;
}
.main{
  background-color: black;
}
.main ul{
  text-align: center;
}
.main ul li{
  display: inline-block;
  margin: 0 -2px;
  position: relative;
  
}
.main ul li a{
  padding: 20px 30px;
  font-size: 16px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: white;
  transition: 0.5s;
  position: relative;

}
 .main ul li a:hover{ 
  background-color: red;
  color: white;
}
.main ul li a::after{
  position: absolute;
  content: '';
  width: 0%;
  height: 2px;
  background-color: blue;
  left: 0px;
  bottom: 0px;
  opacity: 0;
  transform: 0.5s;
}
.main ul li a:hover::after{
  opacity: 1;
  width: 100%;
}
.main ul li ul{
  position: absolute;
  background-color: greenyellow;
  width: 242px;
  left: -54px;
  transform: scale(0);
  transform: 0.5s;
}
.main ul li ul li a{
  color: black;
}
.main ul li ul li{
  width: 100%;
}
.main ul li ul li a{
  display: block;
}
.main ul li:hover > ul{
  transform: scale(1);
}
.main ul li ul li{
  position: relative;
}
.main ul li ul li ul{
  position: absolute;
  top:0px;
 left: 100%;
}